<form action="/" method="POST">
  <div class="form-group">
    <label for="Url">請輸入網址</label>
    <input type="text" class="form-control" id="Url" placeholder="ex:www.google.com" name="Url">
    <button type="submit">縮網址</button>
  </div>
</form>